<p id="notice"><%= notice %></p>

<h1>Listing Pages Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages_groups.each do |pages_group| %>
      <tr>
        <td><%= link_to 'Show', pages_group %></td>
        <td><%= link_to 'Edit', edit_pages_group_path(pages_group) %></td>
        <td><%= link_to 'Destroy', pages_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pages group', new_pages_group_path %>
