<%= form_for(@extra_field) do |f| %>
  <% if @extra_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @extra_field.errors.count, resource: t(:extra_field)) %></h2>
      <ul>
      <% @extra_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :cms_page_id %><br>
    <%= f.select :cms_page_id, 
    options_for_select(CmsPage.all.map{|p| [p.title, p.id] },
    @extra_field.cms_page_id) %>
  </div>
  <div class="field">
    <%= f.label :field_name %><br>
    <%= f.text_field :field_name %>
  </div>
  <div class="field">
    <%= f.label :field_value %><br>
    <%= f.text_area :field_value %>
  </div>
  <div class="field">
    <%= f.label :field_setting %><br>
    <%= f.text_area :field_setting %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
