
<div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Extra field View
                <span class="pull-right"> 
                  <% if @backurl != nil %>
                  <%= link_to t(:Back), @backurl %>
                  <% else %>
                  <%= link_to t(:Back), :back %>
                  <% end %>
                
                </span>
                <span class="pull-right"> 
                  <%= link_to t(:edit), edit_extra_field_path(@extra_field) %> 
                </span>
            </h3>
         </div>
    <div class="panel-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Cms page:</strong>
            <%= @extra_field.cms_page.title %>
          </p>

          <p>
            <strong>Field name:</strong>
            <%= @extra_field.field_name %>
          </p>

          <p>
            <strong>Field value:</strong>
            <%= @extra_field.field_value %>
          </p>

          <p>
            <strong>Field setting:</strong>
            <%= @extra_field.field_setting %>
          </p>
    </div>
</div>
</div>
</div>

 
