<%#= form_for(@microsite) do |f| %>
<h3><%= t(:PLEASE_ENTER_A_NEW_NAME) %></h3>
<%= form_for micro,  :url => "/microsites/#{micro.id}", html: { multipart: true } do |f| %>

  <% if micro.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: micro.errors.count, resource: t(:microsite)) %></h2>

      <ul>
      <% micro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
      <%= hidden_field_tag 'micro', 'true'  %>  
   </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit t(:Save) %>
  </div>
<% end %>

