 <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :default_language %><br>
    <%= f.text_field :default_language %>
  </div>
  <div class="field">
    <%#= f.label :active_microsite %><br>
    <%#= f.check_box :active_microsite %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :publish %><br>
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :user_template %><br>
    <%= f.text_field :user_template %>
  </div>
  <div class="field">
    <%= f.label :layout_name %><br>
    <%= f.text_field :layout_name %>
  </div>
  <div class="field">
    <%= f.label :client_logo %><br>
    <%= f.text_field :client_logo %>
  </div>
  <div class="field">
    <%= f.label :background_color %><br>
    <%= f.text_field :background_color %>
  </div>
  <div class="field">
    <%= f.label :background_image %><br>
    <%= f.text_field :background_image %>
  </div>
  <div class="field">
    <%= f.label :font %><br>
    <%= f.text_field :font %>
  </div>
  <div class="field">
    <%= f.label :font_type %><br>
    <%= f.text_field :font_type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

