<% content_for :title, t(:MICROSITE_DETAILS) %>

<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">

<%#= @microsite.inspect %>

<div class="panel-heading">
<h3 class="panel-title"><%= t(:MICROSITE_DETAILS) %>
  <% if @microsite.client_id != nil %>
    <span class="right pull-right">
      <a href='<%= "/#{@microsite.client.slug}/#{@microsite.slug}" %>' target="_blank"><%= t(:Preview) %></a>
    </span>
  <% end %>  
  <span class="right pull-right">
    <a href='<%= "/microsites/#{@microsite.id}/edit" %>'><%= t(:edit) %></a>
  </span>
</h3>
</div>
 
<div class="panel-body">

<div class="mid-section">
<p id="notice"><%= notice %></p>
<table class="table table-bold">
  <tr>
    <td><strong>Title:</strong></td>
    <td><%= @microsite.title %></td>
  </tr>

  <tr>
    <td><strong>Default language:</strong></td>
    <td><%= @microsite.default_language %></td>
  </tr>

  <tr>
    <td><strong>Description:</strong></td>
    <td><%= @microsite.description %></td>
  </tr>

  <tr>
    <td><strong>Publish:</strong></td>
    <td><%= @microsite.publish %></td>
  </tr>

  <tr>
    <td><strong>Client logo:</strong></td>
    <td>
    <% if @microsite.client_logo? %>
        <img height="auto" max-width="200" src="<%= @microsite.client_logo_url %>" />
    <% end %>
    </td>
  </tr>

  <tr>
    <td><strong>Background color:</strong></td>
    <td style="background:<%= @microsite.background_color %>">
      <%= @microsite.background_color %>
    </td>
  </tr>

  <tr>
    <td><strong>Background image:</strong></td>
    <td style="background:url('<%= @microsite.background_image %>')">
        <% if @microsite.background_image? %>
          <img height="100" width="auto" src="<%= @microsite.background_image_url %>" />
        <% end %>
    </td>
  </tr>

  <!-- <tr>
    <td><strong>Font:</strong></td>
    <td><%#= @microsite.font %></td>
  </tr> -->

  <tr>
    <td><strong>Groups:</strong></td>
    <td><% @microsite.groups.each_with_index do |g,i| %>
        <i><%= g.name  %> </i>
        <% if i+1 < @microsite.groups.size %>
        <span>|</span>
        <% end %>
        <% end %>
        <%= @microsite.groups.any? ? "" : "No Group Assigened Yet!" %>
    </td>
  </tr>
</table>
</div>
</div>

<div class="panel-heading">
<h3 class="panel-title"><%= t(:MICROSITE_PAGES) %>
  <span class="right pull-right">
    <%= link_to t(:ADD_NEW_PAGE), "/microsites/#{@microsite.id}/newcmspage/1" %>
  </span>
  <span class="right pull-right">
    <%= link_to t(:ADD_EXISTING_PAGE), "/microsites/#{@microsite.id}/addexistingpages", :rel => "modal:open" %>
  </span>
</h3>
</div>
 
<div class="panel-body">

<div class="mid-section">
<p id="notice"><%= notice %></p>
<table class="table table-bold">
  <% @microsite.cms_pages.order('cms_pages_microsites.position ASC').each do |page| %>
  <tr>
    <td><%= page.title %></td>

    <td>
      <% if page.id == @microsite.cms_page_id %>
            <label title="Default page", alt="Default page", rel="tooltip",>
              <i class="md md-radio-button-on"></i>
              Home
            </label>
          <% else %>
          <%= link_to "/microsites/#{@microsite.id}/#{page.id}/default_page", :rel=>"tooltip", :title => "Set as default page", :alt => "Set as default page" do %>
            <i class="md md-radio-button-off"></i> Home
          <% end %>  
      <% end %>
    </td>
    <td>
      <%= link_to t("EDIT"), "/microsites/#{@microsite.id}/editpage/#{page.id}/1", :target => "_BLANK" %>
    </td>
    <td>
      <%= link_to t("VIEW"), "/#{page.slug}", :target => "_BLANK" %>
    </td>
    <td>
      <%= link_to t("UNLINK"), "/microsites/#{@microsite.id}/unlinkcmspage/#{page.id}", :data => { :confirm => "Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>
<!--
<table class="table table-bold">
  <tr>
    <td><%= t("SURVEYS_OF_THIS_MICROSITE") %></td>
    <td>
      <%#= @microsite.surveys.inspect %>
      <ul class="microsite-survey-wrapper">
        <% @microsite.surveys.each do |survey| %>
        <li class="survey-item">
          <ul class="controls-t">
              <li>
                <%= link_to t("EDIT") , "/admin/#{survey.id}/editsurvey", :target => "_BLANK" %>
              </li>
              <li>
                <%= link_to t("MANAGE") , "/admin/buildsurvey/#{survey.id}", :target => "_BLANK" %>
              </li>
              <li>
                <%= link_to t("UNLINK") , 
              "/admin/unlinksurvey/#{survey.id}/#{@microsite.id}", :data => { :confirm => "Are you sure?" } %>
              </li>
          </ul>
          <label><%= survey.name %></label>
        </li>
        <% end %>
        <li class="survey-item">
          <%= link_to "Add Existing Existing Surveys", "/microsites/#{@microsite.id}/addexistingsurveys", :rel => "modal:open" %>
        </li>
     </ul>
   </td>
  </tr>
</table>
-->
</div>
<!--
  <ul class="page-hori-menu">
    <li>
        <%= link_to t(
            :create_cms_page), {
            :controller => "admin", 
            :action => "newcmspage", 
            :template_id => @microsite.template_id }
         %>
    </li> 
    <li>
      <%= link_to t(:listcmspages),url_for(
          :controller => 'admin', 
          :action =>'listcmspages') 
      %>
    </li> 
  </ul>
-->
</div>
</div>
</div>
</div>



