<div class="microsite-wrapper">

	<div class="clent-section">
	<label><%= t(:YOU_ARE_ASSIGNING_MICROSITES_TO) %>: <%= @client.name %>  </label>
	</div>
	<div class="form-wrapper">
		<%= form_for(@client, :url=>"/client/#{@client.id}") do |f| %>	
		<%= hidden_field_tag(:task, "assign-microsites-to-client" ) %>
			<div class="search-morosite">
			  <label><%= t("Search the Microsites Assign to Client") %></label>
			  <%= autocomplete_field_tag "microsites[]", "", autocomplete_microsite_title_microsites_path,
			  'data-delimiter' => ',', :multiple => true %>
			</div>
			<div class="submitbtn">
			    <%= button_tag(t(:Save), 
			      data: { 
			      disable_with: t(:PLEASE_WAIT),
			      confirm: t(:ARE_YOU_SURE) }, class:"msiteuser") %>
			</div>
		<% end %>
	</div>
	<label><%= t(:FOLLOWING_MICROSITES_EXISTS_IN_THE_SYSTEM) %></label>
	<ul>
		<% @microsites.each do |m| %>
		<li><%= m.title %></li>
		<% end %>
	</ul>
</div>