<!-- Page-Title -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:MANAGE_USERS) %>
          <% if current_user.can? :addUser, :admin %>
           <span class="pull-right"> 
               <%= link_to "Back", :back %>
          </span>
          <span class="pull-right"> <%= link_to 'Add User', '/admin/addUser', :class =>'addUser' %>
          </span>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <%= notice %>
        <div class="row">
          <div class="col-md-6">
            <%= form_tag admin_users_path, :method => 'get' do %>
            <div class="col-md-5">
              <%= text_field_tag :search, params[:search], class: "form-control col-md-3 col-sm-3 col-xs-3" %>
            </div>
            <div class="col-md-1">
              <%= submit_tag "Search", :name => nil , :class=> "btn btn-info waves-effect waves-light" %> 
            </div>
            <% end %>
          </div>
        </div>
        <div class="sepuser">All(<%= @users.count %>) | Administrator(1)</div> 
      
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <%= form_for :user, :url => admin_edit_user_individual_path, :html => { :method => :put } do |form| %>
              <table class="list-user table">
                <tr>
                  <th>First Name </th>
                  <th>Last Name </th>
                  <th>Display Name </th>
                  <th>Email </th>
                  <th>Status </th>
                  <th>Admin y/n(?) </th>
                  <th>groups (add/remove)</th>
                  <th>Edit</th>
                    <!-- <th>Delete </th> -->
                </tr>
                <% @users.each do |user| %>
                <tr class="list-user-row-<%= user.id %>">
                  <!--  <td><%= check_box_tag "user_ids[]", user.id %></td> -->
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.display_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.status %></td>
                  <td><%= user.admin ? "Yes" : "No" %></td>
                  <td>
                  <% user.groups.each do |g| %>
                   <%= g.name.to_s+ (user.groups.last != g ? " | " : "").to_s %>
                  <% end %>
                  </td>
                  <td>
                   <% if current_user.can? :editUser, :admin %>        
                   <%= link_to 'Edit', '/admin/editUser/'+user.id.to_s, 
                     :class =>'editUser', 
                     :id => user.id
                     %>
                   <% end %>    

                   <% if current_user.can? :delUser, :admin %>        
                   <%= link_to 'Remove', '/admin/delUser/'+user.id.to_s, 
                     :class =>'delUser doaction', 
                     :id => user.id
                     %>
                   <% end %>         
                  </td>
                </tr>
                <% end %>
              </table>
              <% if current_user.can? :delUser, :admin %>
              <div class="col-sm-12">
                <div class="col-sm-2">
                  <!-- <p id="deleteselected" class="btn-info waves-effect waves-light">Disable</p> -->
                </div>
                <div class="col-sm-2">
                  <!--  <p id="deleteselectedpermanent" class="btn-info waves-effect waves-light">Delete Permanent</p> -->
                </div>
              </div>
              <%  end %>      
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Import Users</h3>
      </div>

      <div class="panel-body">
        <% if current_user.can? :upload_users, :group  %>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "Import CSV", admin_upload_users_path, 
            :class => "fancyajax group-grey-button"  %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- panel -->
  </div>
  <!-- col -->
</div>
<!-- End row -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Invite New User(s)</h3>
      </div>
      <div class="panel-body">
        <%= form_tag admin_sendinvitationuser_path, :method => 'post' do %>
        <div class="form-group">
          <label class="col-md-2 control-label" for="example-email">Email Addresses:</label>
          <div class="col-md-10">
            <%= text_field_tag 'user_emails', '', class: 'form-control', placeholder: 'Enter comma separated emails' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Select Role</label>
          <div class="col-sm-10">
            <select class="form-control" name="roleid">
              <% @roles.each_with_index do |urole,index| %>
              <option value="<%=  urole[1]  %>"><%=  urole[0]  %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Message</label>
          <div class="col-md-10">
            <%= text_area_tag 'custom_message', nil,rows: 5, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= submit_tag "Send Invitation", :name => nil , :class=> "btn btn-info waves-effect waves-light" %> 
        </div>
        <% end %>                                    
      </div>
      <!-- panel-body -->
    </div>
  </div>
</div>
<!-- End row -->
<script type="text/javascript">
  $(function() {
  
  
     $('.getallcheks').click(function() {
  
        var conceptName = $('.roletobechange').find(":selected").val();
        var checkedValues = $('.list-user input:checkbox:checked').map(function() {
          return this.value;
        }).get();
  
        if (!conceptName.length > 0) {
           alert("Please select the user Role");
             return false;
        }
  
          if (!checkedValues.length) {
             alert("Please select at least one user");
             return false;
          }
  
          if (!confirm("Please Note: This process will remove all existing Roles and add the selected Role only, Really Go?")) {
             return false;
          }
  
          $.ajax({
             type: 'post',
             url: '/admin/bulkupdaterole',
             data: {
                role: conceptName,
                userids: checkedValues,
                task: "bulkupdaterole"
             },
             success: function(resp) {
                alert(resp["message"]);
                location.reload();
  
             }
          })
  
     });
  
  
  
     $('.getallchekss').click(function() {
  
        var conceptName = $('.grouptobechange').find(":selected").val();
        var checkedValues = $('.list-user input:checkbox:checked').map(function() {
          return this.value;
        }).get();
  
        if (!conceptName.length > 0) {
           alert("Please select the user Group");
             return false;
        }
  
        if (!checkedValues.length) {
          alert("Please select at least one user");
          return false;
        }
  
        if (!confirm("Please Note: This process will remove all existing Groups and add the selected Group, Really Go?")) {
          return false;
        }
  
  
        $.ajax({
          type: 'post',
          url: '/admin/bulkupdaterole',
          data: {
             group: conceptName,
             userids: checkedValues,
             task: "bulkupdategroup"
          },
          success: function(resp) {
             alert(resp["message"]);
             location.reload();
  
          }
  
        })
  
  
  
        // return false;
  
     });
  
  
     $('#deleteselected').click(function() {
  
        var conceptName = $('.roletobechange').find(":selected").val();
        var checkedValues = $('.list-user input:checkbox:checked').map(function() {
          return this.value;
        }).get();
  
        //alert(checkedValues);
        if (checkedValues.length) {
          $.ajax({
             type: 'post',
             url: '/admin/bulkupdaterole',
             data: {
                // role:conceptName,
                userids: checkedValues,
                task: "bulkdisableuser"
             },
             success: function(resp) {
                alert(resp["message"]);
                location.reload();
  
             }
  
          })
  
        } else {
          alert("Please select at least one user");
        }
     });
  
  
  
     $('#deleteselectedpermanent').click(function() {
  
        var conceptName = $('.roletobechange').find(":selected").val();
        var checkedValues = $('.list-user input:checkbox:checked').map(function() {
          return this.value;
        }).get();
  
        //alert(checkedValues);
        if (checkedValues.length) {
  
  
          if (confirm("Are you sure? All of these user's folders, files will be deleted Permanent")) {
             $.ajax({
                type: 'post',
                url: '/admin/bulkupdaterole',
                data: {
                  // role:conceptName,
                  userids: checkedValues,
                  task: "bulkdeleteuser"
                },
                success: function(resp) {
                  alert(resp["message"]);
                  location.reload();
                }
  
             })
          }
  
  
        } else {
          alert("Please select at least one user");
        }
     });
  
  });
    
</script>

