        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title trans-none"><%= t(:MANAGE_FILES) %>
                                               <span class="pull-right"> 
                                                 <%= link_to t(:Back), :back %>
                                                </span>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                          <p id="notice"><%= notice %></p>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                   <tr>
    <th><%= t(:NAME) %></th>
      <th><%= t(:Size) %></th>
      <th><%= t(:Attachment) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @file_mangers.each do |file_manger| %>
  <tr>
   <td><%= file_manger.name %>

   <!-- <input title="use this link in editor" type="text" class="copytext" value="<%#=  file_manger.attachment.url %>"  /> -->
 </td>
        <td><%= number_to_human_size(file_manger.size)     %>

  </td>
        <td> <%= image_tag Icon.for_filename(file_manger.name) %>
<%#= image_tag Icon.for_ext '.jpg' %>

       <a target ="_blank" href="<%=  file_manger.attachment %>"><%= t(:DOWNLOAD_FILE) %></a>

        </td>
    <!-- /posts/:post_id/comments/:id -->
    <td><%= link_to t(:show), [file_manger.folder, file_manger] %></td>
    <!-- /posts/:post_id/comments/:id/edit -->
    <td><%= link_to t(:edit), edit_folder_file_manger_path(file_manger.folder, file_manger)%></td>
    <!-- /posts/:post_id/comments/:id -->
    <td><%= link_to t(:destroy), [file_manger.folder, file_manger], :confirm => t(:ARE_YOU_SURE), :method => :delete %></td>
  </tr>
<% end %>
                                                    </table>
                                                </div>
                                            </div>
<%= link_to('New File',file_mangers_new_file_path, rel: "modal:open") %>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End row -->



