<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
<table class="table">
	<tr>
		<td><%= t(:Email) %></td>
		<td><%= @user.email  %></td>
	</tr>	
	<tr>
		<td><%= t(:FIRST_NAME) %></td>
		<td><%= @user.first_name %></td>
	</tr>	
	<tr>
		<td><%= t(:LAST_NAME) %></td>
		<td><%= @user.last_name %></td>
	</tr>	
	<tr>
		<td><%= t(:DISPLAY_NAME) %></td>
		<td><%= @user.display_name %></td>
	</tr>	
	<tr>
		<td><%= t(:USER_NAME) %></td>
		<td><%= @user.username %></td>
	</tr>	
</table>
</div>
</div>
</div>