<% content_for :title, t(:UPLOADED_FILES) %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:UPLOADED_FILES) %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th width="35%"><%= t(:FILE_NAME) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'name'} %>
                    </th>
                    <th><%= t(:Groups) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'type'} %>
                    </th>
                    <th><%= t(:USER) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'user_id'} %>
                    </th>
                    <th><%= t(:DATE_ADDED) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'date'} %>
                    </th>
                    <th></th>
                    <% if current_user.admin %>
                      <th></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @uploaded_files.each_with_index do |uploaded_file, index| %>
                    <% if current_user.admin || (uploaded_file.user.present? && uploaded_file.user.id === current_user.id) %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><a target="_blank" href="<%= uploaded_file.file %>"><%= uploaded_file.file_file_name %></a></td>
                        <td>
                          <% if uploaded_file.user.present? %>
                            <% uploaded_file.user.groups.each_with_index do |group, index| %>
                              <div style="margin-bottom:5px"><%= group.name %></div>
                            <% end %>
                          <% end %>
                        </td>
                        <td>
                          <% if uploaded_file.user.present? %>
                            <%= link_to ('/admin/editUser/'+uploaded_file.user.id.to_s) do %>
                              <%= uploaded_file.user.username %>
                            <% end %>
                          <% end %>
                        </td>
                        <td><%= uploaded_file.file_updated_at %></td>
                        <td><a download href="<%= uploaded_file.file %>"><i class="fa fa-download"></i></a></td>
                        <% if current_user.admin %>
                          <td>
                            <%= link_to uploaded_file, method: :delete, data: { confirm: t(:ARE_YOU_SURE) } do %>
                              <i class="fa fa-remove"></i>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

