<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:UPLOADED_FILES) %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th><%= t(:FILE_NAME) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'name'} %>
                    </th>
                    <th><%= t(:FILE_TYPE) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'type'} %>
                    </th>
                    <th><%= t(:DATE_ADDED) %>
                      <%= render :partial => "uploaded_files/sort_icon", :locals => {:field => 'date'} %>
                    </th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @uploaded_files.each_with_index do |uploaded_file, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><a href="<%= uploaded_file.file %>"><%= uploaded_file.file_file_name %></a></td>
                    <td><%= uploaded_file.file_content_type %></td>
                    <td><%= uploaded_file.file_updated_at %></td>
                    <td><%= link_to 'Delete', uploaded_file, method: :delete, data: { confirm: t(:ARE_YOU_SURE) } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

