<%= form_for(@played_survey) do |f| %>
  <% if @played_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @played_survey.errors.count, resource: t(:played_survey)) %></h2>

      <ul>
      <% @played_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :option %><br>
    <%= f.text_area :option %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
