<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:MANAGE_TABLEAU_USERNAMES) %>          
          <% # if current_user.can? :create, :tableau_users %> 
          <span class="pull-right"> 
               <%= link_to t(:NEW_TABLEAU_USERNAME), new_tableau_user_path %>
          </span>
          <% # end %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th><%= t(:TABLEAU_USERNAME) %></th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @tableau_users.each_with_index do |tableau_user, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= tableau_user.username %></td>
                    <% # if current_user.can? :edit, :tableau_user  %> 
                    <td><%= link_to t(:edit), edit_tableau_user_path(tableau_user) %></td>
                    <% # end %>
                    <% # if current_user.can? :destroy, :tableau_user  %> 
                    <td><%= link_to 'Delete', tableau_user, method: :delete, data: { confirm: t(:ARE_YOU_SURE) } %></td>
                    <% # end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

