<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div class="user-details">
      <div class="pull-left">
        <%= link_to image_tag("site/logo.png", :alt => "mosaic logo"), request.base_url, :class =>'home-url', :title => 'mosaic' %>
        <!-- <img src="images/logo.png" width="226" height="72" alt="logo" /> -->
      </div>
    </div>
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>  
        <% if current_user.can? :clients, :admin  %> 
        <li >
          <%= link_to '/admin/clients', :class => 'button white' do %>
          <i class="fa fa-user-plus"></i><span> Clients </span>
          <% end %>
          <!--
          <span class="pull-right has-sub"><i class="md md-add"></i></span> 

           <ul class="sub-1 has_sub">
            <% if current_user.can? :newclient, :admin  %>  
            <li>
              <%= link_to t(:NEW_CLIENT), url_for(:controller => 'admin', 
               :action => 'newclient') %>
            </li>
            <% end %>

            <% if current_user.can? :listClients, :admin  %>  
            <li>
              <%= link_to t(:MANAGE_CLIENTS), url_for(:controller => 'admin', 
               :action => 'listClients') %>
            </li>
            <% end %>
          </ul>
          --> 
        </li>
        <% end %>
        <% if current_user.can? :index, :microsite  %> 
        <li class="has_sub">
          <%= link_to '/microsites', :class => 'button white' do %>
          <i class="fa fa-list-alt"></i><span> <%= t(:Microsites) %></span>
        <% end %>
          <!--
          <span class="pull-right has-sub"><i class="md md-add"></i></span>
          <ul class="list-unstyled ub-1 has_sub">
            <li>
              <%= link_to t(:NEW_MICROSITE), url_for(:controller => 'microsites', 
               :action => 'new') %>
            </li>
            <li>
              <%= link_to t(:MANAGE_MICROSITES), url_for(:controller => 'microsites', 
               :action => 'index') %>
            </li>
          </ul>
          -->
        </li>
        <% end %>
        <% if current_user.can? :listcmspages, :admin  %> 
        <li class="new-link"> 
          <%= link_to url_for(controller: :admin, action: :listcmspages), :class => 'button white' do %>
          <i class="fa fa-file-text"></i> <span> <%= t(:CMSPAGES) %> </span>
          <% end %>
        </li>
        <% end %>
        
        <!--
         <li>
        <% if current_user.can? :manageSurvey, :admin  %>  
          <%= link_to url_for(:controller =>'admin', :action => 'manageSurvey'), 
              :class => 'button white Survey' do %>
              <i class="fa fa-list-alt"></i>
              <span><%= t(:SURVEYS) %> </span>
          <% end %>
        <% end %>   
        -->
            <!-- <span class="pull-right has-sub">
              <i class="md md-add"></i>
            </span> -->
          <!-- <ul class="sub-1 has_sub">
            <% if current_user.can? :addSurvey, :admin  %>  
            <li>
              <%= link_to t(:add_new), url_for(:controller => :admin, :action => :addSurvey ),
                :class =>'add_mew_survey' %>
            </li>
            <% end %>
            <% if current_user.can? :manageSurvey, :admin  %>   
            <li>
              <%= link_to t(:manage), url_for(:controller =>'admin', :action => 'manageSurvey'),
                :class =>'Manage_survey' %>
            </li>
            <% end %>    
            <% if current_user.can? :played_surveys, :admin  %> 
            <li>
              <%= link_to t(:played_surveys),url_for(:controller => 'admin', :action =>'played_surveys') %>
            </li>
            <% end %>
          </ul> -->
        </li>

        <% if current_user.can? :index, :tableaus  %> 
        <li >
          <%= link_to tableaus_path, :class => 'button white' do %>
          <i class="fa fa-table"></i>
           <span> <%= t :TABLEAU_DASHBOARD %> </span>
          <% end %>
        </li>
        <% end %>

        <% if current_user.can? :index, :tableaus  %> 
        <li >
          <%= link_to tableau_users_path, :class => 'button white' do %>
          <i class="fa fa-table"></i>
           <span> <%= t :TABLEAU_USERNAMES %> </span>
          <% end %>
        </li>
        <% end %>
        
        <li>
          <%= link_to variables_path, :class => 'button white' do %>
          <i class="fa fa-list"></i>
           <span> <%= t :VARIABLES %> </span>
          <% end %>
        </li>

        <li>
          <%= link_to uploaded_files_path, :class => 'button white' do %>
          <i class="fa fa-files-o"></i>
           <span> <%= t :UPLOADED_FILES %> </span>
          <% end %>
        </li>

        <% if current_user.can? :listUsers, :admin  %>  
        <li>
          <%= link_to url_for(:controller => :admin, :action => :listUsers), 
          :class => 'button white list_user' do %>
          <i class="fa fa-users"></i> <span> <%= t(:list_user) %> </span>
          <% end %>
        <!-- 
          <span class="pull-right has-sub">
            <i class="md md-add"></i>
          </span>
          <ul class="sub-1 has_sub">
            <% if current_user.can? :listroles, :admin  %>  
            <li>
              <%= link_to t(:list_roles), url_for(:controller => 'admin', 
               :action => 'listroles'), :class =>'Manage_roles' %>
            </li>
            <% end %>
            <% if current_user.can? :importuserscsv, :admin  %> 
            <li>
              <%= link_to t(:Import_CSV),url_for(:controller => 'admin', :action =>'importuserscsv') %>
            </li>
            <% end %>
            <li>
              <%= link_to t(:Export_CSV), url_for(:controller =>'admin', :action => 'exportcsv', format: "csv") %>
            </li>
          </ul> -->
        </li>
        <% end %>

        
        
        <% if user_signed_in? %>
        <!-- <li>
          <%= link_to folders_path, :class => 'button white' do %>
          <i class="fa fa-folder"></i> <span> <%= t(:Folders) %> </span>
          <% end %>
        </li> -->
        <% if current_user.can? :all_files, :filemanager  %>
        <!--  <li>
          <%= link_to file_mangers_all_files_path, 
          :class => 'button white' do %>
          <i class="fa fa-file"></i> <span> <%= t(:Files) %> </span>
          <% end %>
        </li> -->
        <% end %>
        <li>
          <%= link_to groups_path, :class => 'button white' do %>
          <i class="fa fa-users"></i> <span> <%= t(:Groups) %> </span>
          <% end %>
        </li>
        <% end %>
        
        <li>
          <%= link_to 'javascript:void(0)', 
          :class => 'button white Survey' do %>
          <i class="fa fa-user"></i>
          <span> <%= current_user.username  %> </span>
          <% end %>
            <span class="pull-right has-sub">
            <i class="md md-add"></i>
            </span>
          <ul class="sub-1 has_sub">
            <% if user_signed_in? %>
            <li>
              <%= link_to t(:edit_profile), 
                 edit_user_registration_path, 
                 :class => 'navbar-link' %> 
            </li>
            <li>
              <%= link_to t(:logout), 
                 destroy_user_session_path, 
                 method: :delete, 
                 :class => 'navbar-link'  %>
            </li>
            <% end %> 
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
