<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">

<div class="panel-heading">

	<h3 class="panel-title"><label><%= t(:ASSIGNING_STH_TO_MICROSITE, name: t(:CMS_PAGES), microsite: t(:Microsite)) %></label> </h3>
</div>

<div class="panel-body">

 <div class="error-block">
 	<% @errors.each do |e|    %>
 		<p style="color:red"><%= raw(e) %></p>
 	<% end %>
 </div>
 <div class="success-block">
 	<% @success.each do |s|    %>
 		<p style="color:green"><%= raw(s) %></p>
 	<% end %>
 </div>

	<div class="form-wrapper">
		<%= form_for(@microsite, 
		:url=>"/microsites/#{@microsite.id}/addexistingpages") do |f| %>	
			<%= hidden_field_tag(:task, "assign-pages-to-microsite" ) %>
			<div class="search-pages">
			  <label><%= t("SEARCH_CMS_PAGE_FOR_MICROSITE") %></label>
			  <%= autocomplete_field_tag "pages[]", "", autocomplete_cms_page_title_cms_pages_path,
			  'data-delimiter' => ',', :multiple => true %>
			</div>
			<div class="submitbtn">
			    <%= button_tag(t(:Save), 
			      data: { 
			      disable_with: t(:PLEASE_WAIT),
			      confirm: t(:ARE_YOU_SURE) }, class:"msiteuser") %>
			</div>
		<% end %>
	</div>
  <div class="avaliavle-cms-pages">
  <div class="title">
  		<label><%= t("ASSIGN_CMS_PAGE_MSG") %>:</label>
  </div>
  <% CmsPage.where("(microsite_id IS NULL OR microsite_id = 0) AND status = TRUE ").each do |page| %>
  <p><%= page.slug  %></p>
  <% end %>
  </div>
</div>

</div>
</div>
</div>