<div class="row">
  <div class="col-sm-12">
    <%= form_for(@cmspage, :url => url_for(:controller => :admin, :action => :update_cmspage, :cms_page_id =>@cmspage.id)) do |f| %>
      <div class="panel panel-default">

        <%= javascript_tag do %>
          var exampleval = '<%= t("CREATE_NEW_OBJECT_LABEL") %>';
        <% end %>

        <div class="panel-heading">

          <h3 class="panel-title"><%= t(:editpage) %>
            <span class="pull-right"> 
              <%= link_to t(:Preview), "/#{@cmspage.slug.to_s}", :target => "_BLANK" %>
            </span>
            <span class="pull-right">
              <%= f.submit t(:Save) , :class=> "btn btn-info waves-effect waves-light" %> 
            </span>
          </h3>
        </div>

        <%#= list_row_type.inspect %>

        <div class="cms-page panel-body">
        <p id="notice"><%= notice %></p>

          <% if @cmspage.errors.any? %>
            <div id="error_explanation">
               <h2><%= t('errors.messages.not_saved', count: @cmspage.errors.count, resource: t(:Page)) %></h2>
               <ul>
                  <% @cmspage.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
               </ul>  
            </div>
          <% end %>
          <%= f.hidden_field(:status,:value=>true) %>
          <div class="form-group">
            <%= f.label :page_title, class: "control-label" %>
            <%= f.text_field :title, :class=>'create_slug form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :page_slug, class: "control-label" %>
            <%= f.text_field :slug, :class => 'put_slug form-control' %>
          </div>
          <!--
          <div class="form-group">
            <div class="col-md-2">
             <%= f.label t(:SAVE_AS_TEMPLATE), :for=> "cms_page_template_id", class: "control-label" %>
            </div>
            <div class="col-md-1">
             <%= f.check_box :template_id%>
            </div>
          </div>
          -->
          <%#= params.inspect %>
          <%= f.hidden_field :microsite_id, :value => @microsite != nil ? @microsite.id : 0 %>
          <!--
          <div class="form-group">
            <%= f.label :meta_title , class: "col-md-12 control-label" %>
            <div class="col-md-12">
              <%= f.text_field :meta_title, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :meta_keyword , class: "col-md-12 control-label" %>
            <div class="col-md-12">
              <%= f.text_area :meta_keyword, class: 'form-control' %>
            </div>
          </div>
          -->
          <div class="form-group">
            <%= f.label :parent_id , class: "control-label" %>
            <%= f.select :parent_id, CmsPage.all.reject {|u| u.id == @cmspage.id}.collect{|u| [u.title, u.id]}, {:include_blank => 'Select parent page'},{:class => "form-control"}  %>
          </div>
          <div class="form-group">
            <%= f.label :position , class: "control-label" %>
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>

        <div class="panel-heading">
          <h3 class="panel-title trans-none"><%= t(:Content) %></h3>
        </div>

        <div class="cms-page panel-body">
          <div class="form-group ">
            <%= f.label :content , class: "col-md-12 control-label" %>
            <%#= f.label :page_content %>
            <div class="col-md-12">
              <%= f.cktext_area :content, :ckeditor => {:language => 'en'}  %>
            </div>
          </div>

          <div class="form-group">
            <div class="already-added-fields">   
              <% if @groups != nil %>
                <% @groups.each do |g| %>
                  <div class="col-sm-12 extra-field-remove extrafield-val-<%= g.field_group %>"> 
                    <a href="javascript:void(0)" class="remove-edited-extra-fild" 
                      data-rel="extra-field-col-<%= g.field_group %>"
                      data-url="/extra_fields/remove_by_grop/<%= g.field_group %>"
                      data-fid="<%= g.field_group %>"> 
                      <%= t(:REMOVE_THIS_ROW) %> <i class="fa fa-times" style="font-size:20px"></i>
                    </a>
                  </div>
                  <div class="extra-field extra-field-col-<%= g.field_group %> col-sm-12">
                    <% ExtraField.where(:field_group => g.field_group, :cms_page_id => @cmspage.id ).each do |efield|  %>
                      <div class="extra-field-col">
                            <label class="control-label">
                              <% field_flap = efield.field_setting.split(":") %>
                                <%= t(:FIELD_TYPE) %> <%= field_flap[1] %>
                            </label>
                            <div class="clear Clear"></div>
                        <%=  cktext_area "extra_field", efield.id, 
                        :ckeditor => {:language => 'en' }, :value => efield.field_value  %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <!-- <a href="javascript:void(0)" class="add-coulumnto-row">
              <i class="fa fa-plus-circle fa-6"></i>
            </a> -->
            <div class="form-group">
              <div class="col-md-12">
                <a href="/page_col/add_row/<%= @cmspage.id %>" rel="modal:open" class="btn btn-info waves-effect waves-light">
                  <%= t(:ADD_ANOTHER_ROW) %>
                </a>
              </div>
            </div>

              <!--   <a href="javascript:void(0)" class="remove-coulumnto-row">
              <i class="fa fa-minus-circle fa-6"></i></a> -->
            <div class="extracoulmn-add"></div>
          </div>

          <!--    <div class="form-group group-panel">
                  <label><%=  t("Groups:") %></label>
                  <ul class="updategrouppagel">
                    <div style="display:none">
                     <select name="pages[]" multiple="multiple">
                       <option value="<%= @cmspage.id %>" selected="selected">
                        <%= @cmspage.title %>
                        </option>
                     </select>
                    </div>
                   
                    <% Group.all.each do |g| %>
                      <li>
                        <% if @cmspage.groups.exists?(g) %>
                        <%=  check_box_tag("groups[#{g.id}]",1,1) %>
                        <% else %>
                        <%=  check_box_tag("groups[#{g.id}]",1) %>
                        <% end %>
                        <%= label_tag("groups[#{g.id}]", g.name) %>
                      </li>
                    <% end %>
                  </ul>
             </div> -->
          
          <div class="form-group">
            <%= f.label :page_css , class: "col-md-12 control-label" %>
            <div class="col-md-12">
              <%= f.text_area :page_css, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :page_js , class: "col-md-12 control-label" %>
            <div class="col-md-12">
              <%= f.text_area :page_js, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :page_class , class: "col-md-12 control-label" %>
            <div class="col-md-12">
              <%= f.text_field :page_class, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group m-t-10">
              <div class="col-sm-12">
                <%= f.submit t(:Save) , :class=> "btn btn-info waves-effect waves-light" %> 
              </div>
            </div>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>
 



