
<%= javascript_tag do %>
  var exampleval = '<%= t("CREATE_NEW_OBJECT_LABEL") %>';
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><%= t("CREATE_NEW_CMS_PAGE") %></h3>
      </div>

      <div class="panel-body">

        <%= form_for(@cmspage, :url => url_for(:controller => :admin, :action => :create_cmspage)) do |f| %>
        <% if @cmspage.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.messages.not_saved', count: @cmspage.errors.count, resource: t(:Page)) %></h2>
          <ul>
            <% @cmspage.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.hidden_field(:status,:value=>true) %>
       
        <div class="form-group">
          <%= f.label :page_title %><br>
          <%= f.text_field :title, :class=>'create_slug form-control' %>
          <%#= f.text_field :title, :class => 'genslug' %>
        </div>
        <div class="form-group">
          <%= f.label :page_slug %><br>
          <%= f.text_field :slug, :class => 'put_slug form-control' %>
          <%#= f.text_field :slug, disabled: true, :class => 'getslug' %>
        </div>

        <div class="form-group">
          <%= f.label :parent_id %><br>
          <% if @microsite.present? %>
            <%= f.select :parent_id, @microsite.cms_pages.collect{|u| [u.title, u.id]}, {:include_blank => 'Select parent page'}, class: 'form-control' %>
          <% else %>
            <%= f.select :parent_id, CmsPage.all.collect{|u| [u.title, u.id]}, {:include_blank => 'Select parent page'}, class: 'form-control' %>
          <% end %>
        </div>

        <% if @microsite.present? %>
        <div class="form-group">
          <%= f.label :position , class: "control-label" %>
          <%= f.number_field :position, class: 'form-control' %>
        </div>
        <% end %>

        <!--
        <div class="form-group">
          <%= f.label :meta_title %><br>
          <%= f.text_field :meta_title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :meta_keyword %><br>
          <%= f.text_area :meta_keyword, class: 'form-control' %>
        </div>
        -->
      </div>

      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:Content) %></h3>
      </div>

      <div class="cms-page panel-body">

          
        <div class="form-group">
          <%= f.label :content %><br>
          <%#= f.label :page_content %><br>
          <%= f.cktext_area :content, :ckeditor => {:language => 'en'} %>
        </div>

        <div class="form-group">
          <%= f.label :page_css %><br>
          <%= f.text_area :page_css, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :page_js %><br>
          <%= f.text_area :page_js, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :page_class %><br>
          <%= f.text_field :page_class, class: 'form-control' %>
        </div>
        
        <div class="form-group actions">
          <%= f.submit('Create CMS Page', :class=> "btn btn-info waves-effect waves-light") %>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
