<% content_for :title, t(:LISTING_GROUPS_VARIABLES) %>

<p id="notice"><%= notice %></p>

<h1><%= t(:LISTING_GROUPS_VARIABLES) %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_variables.each do |group_variable| %>
      <tr>
        <td><%= link_to t(:show), group_variable_path(group_variable.group, group_variable) %></td>
        <td><%= link_to t(:edit), edit_group_variable_path(group_variable.group, group_variable) %></td>
        <td><%= link_to t(:destroy), group_variable_path(group_variable.group, group_variable), method: :delete, data: { confirm: t(:ARE_YOU_SURE) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:NEW_GROUPS_VARIABLE), new_group_variable_path(params[:group_id]) %>
