<%= form_for(@tableau) do |f| %>
  <% if @tableau.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @tableau.errors.count, resource: t(:tableau)) %></h2>

      <ul>
      <% @tableau.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :project_title %><br>
    <%= f.text_field :project_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :width %><br>
    <%= f.text_field :width, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :height %><br>
    <%= f.text_field :height, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :site_root %><br>
    <%= f.text_field :site_root, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tabs %><br>
    <%= f.text_field :tabs, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :toolbar %><br>
    <%= f.select :toolbar, options_for_select([['Yes','y'],['No','n']]), {}, {class: 'form-control'} %>
  </div>
 <!--  <div class="form-group">
    <%#= f.label :ticket %><br>
    <%#= f.text_field :ticket %>
  </div> -->
  <div class="form-group">
    <%= f.label :load_order %><br>
    <%= f.text_field :load_order, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class=> "btn btn-info waves-effect waves-light"%>
  </div>
<% end %>
