<div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
            <%= t(:VIEW_TABLEAU_PROJECT) %>
             <span class="pull-right"> 
               <%= link_to t(:Back), :back %>
              </span>
                <span class="right pull-right">
                <%= link_to t(:edit), edit_tableau_path(@tableau) %>
               </span>
            </h3>
         </div>     

     <div class="panel-body">
      <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="table-responsive">   
                <p id="notice"><%= notice %></p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.project_title') %>:</strong>
                  <%= @tableau.project_title %>
                </p>


                <p>
                  <strong><%= t('activerecord.attributes.tableau.project_name') %>:</strong>
                  <%= @tableau.project_name %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.width') %>:</strong>
                  <%= @tableau.width %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.height') %>:</strong>
                  <%= @tableau.height %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.site_root') %>:</strong>
                  <%= @tableau.site_root %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.tabs') %>:</strong>
                  <%= @tableau.tabs %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.toolbar') %>:</strong>
                  <%= @tableau.toolbar %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.ticket') %>:</strong>
                  <%= @tableau.ticket %>
                </p>

                <p>
                  <strong><%= t('activerecord.attributes.tableau.load_order') %>:</strong>
                  <%= @tableau.load_order %>
                </p>

 
</div>
</div>
</div>
</div>
</div>
</div>
</div>

