<% content_for :title, t(:MANAGE_VARIABLES) %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:MANAGE_VARIABLES) %>          
          <% # if current_user.can? :create, :variables %> 
          <span class="pull-right"> 
               <%= link_to t(:NEW_VARIABLE), new_variable_path %>
          </span>
          <% # end %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th width="50%"><%= t(:SHORT_CODE) %></th>
                    <th><%= t(:VARIABLE_NAME) %></th>
                    <th><%= t(:VARIABLE_TYPE) %></th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @variables.each_with_index do |variable, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= get_shortcode(variable) %></td>
                    <td><%= variable.name %></td>
                    <td><%= variable.vtype %></td>
                    <% # if current_user.can? :edit, :variable  %> 
                    <td>
                      <%= link_to edit_variable_path(variable) do %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                    </td>
                    <% # end %>
                    <% # if current_user.can? :destroy, :variable  %> 
                    <td>
                      <%= link_to variable, method: :delete, data: { confirm: t(:ARE_YOU_SURE) } do %>
                        <i class="fa fa-remove"></i>
                      <% end %>
                    </td>
                    <% # end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row -->

