<p id="notice"><%= notice %></p>

<h1>Listing User Variables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_variables.each do |user_variable| %>
      <tr>
        <td><%= link_to 'Show', user_variable_path(user_variable.user, user_variable) %></td>
        <td><%= link_to 'Edit', edit_user_variable_path(user_variable.user, user_variable) %></td>
        <td><%= link_to 'Destroy', user_variable_path(user_variable.user, user_variable), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User variable', new_user_variable_path(params[:user_id]) %>
