<p id="notice"><%= notice %></p>

<h1><%= t(:LISTING_QFIELDS) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:Fval) %></th>
      <th><%= t(:Type) %></th>
      <th><%= t(:Section) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qfields.each do |qfield| %>
      <tr>
        <td><%= qfield.fval %></td>
        <td><%= qfield.type_id %></td>
        <td><%= qfield.section_id %></td>
        <td><%= link_to t(:show), qfield %></td>
        <td><%= link_to t(:edit), edit_qfield_path(qfield) %></td>
        <td><%= link_to t(:destroy), qfield, method: :delete, data: { confirm: t(:ARE_YOU_SURE) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:NEW_QFIELD), new_qfield_path %>
