<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:Fval) %>:</strong>
  <%= @qfield.fval %>
</p>

<p>
  <strong><%= t(:Type) %>:</strong>
  <%= @qfield.type_id %>
</p>

<p>
  <strong><%= t(:Section) %>:</strong>
  <%= @qfield.section_id %>
</p>

<%= link_to t(:edit), edit_qfield_path(@qfield) %> |
<%= link_to t(:Back), qfields_path %>
