<%
type = @attributes[:type]
value = @attributes[:value]
%>
<% if type == 'tableau_url_appendage' %>
  <%= value %>
<% elsif type == 'text' %>
  <%= value %>
<% elsif type == 'code' %>
  <code><%= value %></code>
<% elsif type == 'image' %>
  <img src="<%= value %>" alt="" />
<% elsif type == 'file' %>
  <a href="<%= value %>"><%= value %></a>
<% end %>
