<html>
   <head>
      <title><%= content_for?(:title) ? yield(:title) + ' - Anthesisgroup' : 'Anthesisgroup' %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag "autocomplete-rails.js" %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag "style.css" %>
      <%= stylesheet_link_tag "devise/style.css" %>
      <%= stylesheet_link_tag "admin/style.css" %>
   </head>
   <body class="body <%= params[:controller]+'_'+params[:action] %>  template-<%= params[:controller] %>">




      <div class="wrapper page-wrapper">
         <div class="login-section">
            <div class="row">
               <%= render "common/admin/header" %>			
            </div>
            <div class="clear"></div>
            <div class="message-block">
               <% if notice %>
               <p class="alert alert-success"><%= notice %></p>
               <% end %>
               <%  if alert != nil && alert != true
                  if alert.is_a?(Object) && !alert.is_a?(String)    %>
               <% alert.each do |error|   %>
               <p class="alert alert-danger">
                  <span claas="pre"><%= error[0] %></span>
                  <% if error.size > 1 %>
                  <span claas="post">
                  <%= error[1][0] %>
                  </span>
                  <% end %>
               </p>
               <% end  
                  else  %>
               <p class="alert alert-danger"><%= alert %></p>
               <%  end %>
               <%  end %>
            </div>
            <div class="clear"></div>
            <div class="content">
               <div class="content-left">
                  <%#= render "common/admin/links" %>	
               </div>
               <div class="content-right">
                  

<!--  -->

 				<div class="col-md-12 col-block">
                  <div class="portlet bx-shadow">
                    <div class="">  
                      <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="">
                             <%= yield %>
                            </div>
                          </div>
                      </div>    
                    </div>
                  </div>  
                </div>


<!--  -->

               </div>
            </div>
         </div>
         <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="copy-right"><%= t("COPY_RIGHT_MSG") %></div>
      <div class="clr"></div>
   </body>
</html>